* {
  font-family: "Quicksand"
}

@font-face {
  font-family: "Quicksand";
  src: url("font/Quicksand_Bold.otf");
}

.logoHeader {
  width: 200px;
}

.imgCategory {
  width: 75px;
}

.categoryBox a {
  text-align: center;
  transition: background-color 0.5s ease;
  transition: color 0.5s ease;
  border-radius: 1rem;
}

.categoryBox a:hover {
  background-color: #09B1BA;
  color: white !important;
}

.promoBar {
  width: 100%;
  background-color: #c0392b;
  text-align: center;
}

.boxHeaderContent > .selector {
  cursor: black;
}

.card:hover {
  background-color:#f2f4f4 !important;
}

.card-footer {
  text-align: right;
}

.card-footer i:hover {
  cursor:pointer;
  text-shadow: #FC0 1px 0 10px;
}

.hover-cursor-pointer:hover {
  cursor:pointer;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

#text{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.card-footer {
  display:flex;
  justify-content: space-around;
}

footer {
  margin-top: 2em !important;
}
